{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,800;1,400;1,800&family=Inter:wght@300;500;800&family=JetBrains+Mono:wght@600&family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<style>
    /*
    * Web Fonts from Fontspring.com
    *
    * All OpenType features and all extended glyphs have been removed.
    * Fully installable fonts can be purchased at https://www.fontspring.com
    *
    * The fonts included in this stylesheet are subject to the End User License you purchased
    * from Fontspring. The fonts are protected under domestic and international trademark and 
    * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
    * distributing this font software.
    *
    * (c) 2010-2022 Fontspring
    *
    *
    *
    *
    * The fonts included are copyrighted by the vendor listed below.
    *
    * Vendor:      Radomir Tinkov
    * License URL: https://www.fontspring.com/licenses/radomir-tinkov/webfont
    *
    *
    */
    
    @font-face {
        font-family: 'gilroy-extrabold';
        src: url({% static 'red/style/gilroy-extrabold-webfont.woff2'%}) format('woff2'),
        url({% static 'red/style/gilroy-extrabold-webfont.woff'%}) format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>