<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V93W38ZYBJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-V93W38ZYBJ');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        Insert title here
    </title>

    {% include "red/includes/css_assets.html" %}
    <link rel="stylesheet" href="{% static 'red/style/.css' %}">
</head>

<body>
    <nav>
        <a href="/">
            <header>
                <img src="{% static 'red/assets/Rlogo.svg' %}"></img>
                <h1>Red</h1>
            </header>
        </a>
        <a href="/">
            <div class="{% if tab == " home " %}selected{% endif %} tab" id="home">
                <i class="fa-solid fa-house-user"></i>
                <h2>Home</h2>
            </div>
        </a>
        {% if sub %}
        <a href="{% url " sub " sub %}">
            <div class="selected tab" id="sub-tab">
                <i class="fa-solid fa-section"></i>
                <h2>{{ sub }}</h2>
            </div>
        </a>
        {% endif %}
        <a href="">
            <div class="{% if tab == " search " %}selected{% endif %} tab" id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <h2>Search</h2>
            </div>
        </a>
        <a href="/all/">
            <div class="{% if tab == " popular " %}selected{% endif %} tab" id="popular">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <h2>Popular</h2>
            </div>
        </a>
        <a href="/saved">
            <div class="{% if tab == " saved " %}selected{% endif %} tab" id="saved">
                <i class="fa-solid fa-bookmark"></i>
                <h2>Saved</h2>
            </div>
        </a>
        <a href="
        {% if user.is_authenticated %}
            {% url " user " user.username %}
        {% else %}
            {% url "login " %}
        {% endif %}
        ">
            <div class="{% if tab == " profile " %}selected{% endif %} tab" id="profile">
                <i class="fa-solid fa-user"></i>
                <h2>My Profile</h2>
            </div>
        </a>
        <a href="/settings/">
            <div class="{% if tab == " settings " %}selected{% endif %} tab" id="settings">
                <i class="fa-solid fa-sliders"></i>
                <h2>Settings</h2>
            </div>
        </a>
        <footer>
            <div id="switch">
                <div id="selector"></div>
                <div class="selected option" id="dark">
                    <i class="fa-solid fa-moon"></i> Dark
                </div>
                <div id="spacer"></div>
                <div class="option" id="light">
                    <i class="fa-solid fa-sun"></i> Light
                </div>
            </div>
        </footer>
    </nav>



    <script src="https://code.jquery.com/jquery-3.6.4.min.js " integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin=" anonymous "></script>
    {% include "red/includes/lib.html" %}
    <script src="{% static 'red/script/.js' %}"></script>
</body>

</html>