<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load mathfilters %}
{% load humanize %}
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V93W38ZYBJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-V93W38ZYBJ');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
    {% if sub %}
    Red: s/{{ sub }}
    {% else %}
    Red: Home
    {% endif %}
    </title>

    {% include "red/includes/css_assets.html" %}
    <link rel="stylesheet" href="{% static 'red/style/feed.css' %}">
    {% if sub %}
    <style>
        {% for flair in sub_flairs %}
        .flair-{{ flair.id }} {
            background-color: #{{ flair.color }} !important;
        }
        {% endfor %}
    </style>
    {% endif %}
</head>

<body>
    <nav>
        <a href="/">
            <header>
                <img src="{% static 'red/assets/Rlogo.svg' %}"></img>
                <h1>Red</h1>
            </header>
        </a>
        <a href="/">
        <div class="{% if tab == "home" %}selected{% endif %} tab" id="home">
            <i class="fa-solid fa-house-user"></i>
            <h2>Home</h2>
        </div>
        </a>
        {% if sub %}
        <a href="{% url "sub" sub %}">
        <div class="selected tab" id="sub-tab">
            <i class="fa-solid fa-section"></i>
            <h2>{{ sub }}</h2>
        </div>
        </a>
        {% endif %}
        <a href="">
        <div class="{% if tab == "search" %}selected{% endif %} tab" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <h2>Search</h2>
        </div>
        </a>
        <a href="/all/">
        <div class="{% if tab == "popular" %}selected{% endif %} tab" id="popular">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <h2>Popular</h2>
        </div>
        </a>
        <a href="/saved">
        <div class="{% if tab == "saved" %}selected{% endif %} tab" id="saved">
            <i class="fa-solid fa-bookmark"></i>
            <h2>Saved</h2>
        </div>
        </a>
        <a href="
        {% if user.is_authenticated %}
            {% url "user" user.username %}
        {% else %}
            {% url "login" %}
        {% endif %}
        ">
        <div class="{% if tab == "profile" %}selected{% endif %} tab" id="profile">
            <i class="fa-solid fa-user"></i>
            <h2>My Profile</h2>
        </div>
        </a>
        <a href="/settings/">
        <div class="{% if tab == "settings" %}selected{% endif %} tab" id="settings">
            <i class="fa-solid fa-sliders"></i>
            <h2>Settings</h2>
        </div>
        </a>
        <footer>
            <div id="switch">
                <div id="selector"></div>
                <div class="selected option" id="dark">
                    <i class="fa-solid fa-moon"></i> Dark
                </div>
                <div id="spacer"></div>
                <div class="option" id="light">
                    <i class="fa-solid fa-sun"></i> Light
                </div>
            </div>
        </footer>
    </nav>
    <div id="content-wrapper">
        {% if post_list %}
        {% for post in post_list %}
            <div class="{% if post.attached %} image {% else %} text {% endif %} post" data-id={{ post.id }}>
                <header>
                    <a href="{% url 'post' post.sub.name post.id %}">
                        <h3>{{post.title}}</h3>
                    </a>

                    {% if post.awards %}
                    <div class="tags">
                        {% for name, count in post.award_count.items %}
                        <div class="{{name}}">
                        {% if count > 1%}
                            <p>{{count}}x</p>
                        {% endif %}
                        {% if name == "shrimp" %}
                            <i class="fa-solid fa-shrimp"></i>
                        {% elif name == "silver" %}
                            <i class="fa-solid fa-circle"></i>
                        {% elif name == "fish" %}
                            <i class="fa-solid fa-fish-fins"></i>
                        {% elif name == "gold" %}
                            <i class="fa-solid fa-medal"></i>
                        {% elif name == "platinum" %}
                            <i class="fa-solid fa-trophy"></i>
                        {% elif name == "emerald" %}
                            <i class="fa-solid fa-gem"></i>
                        {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="info">
                        <a href='{% url "user" post.author %}'>
                            <div>
                                {% if post.author.is_staff %}
                                <i class="fa-solid fa-gear" title="This user is a system administrator."></i>
                                <p class="username" style="font-weight: 700" title="This user is a system administrator.">{{post.author}}</p>
                                {% elif user == post.author %}
                                <i class="fa-solid fa-at self"></i>
                                <p class="username self">{{post.author}}</p>
                                {% else %}
                                <i class="fa-solid fa-at"></i>
                                <p class="username">{{post.author}}</p>
                                {% endif %}
                            </div>
                        </a>
                        <div>
                            <i class="fa-solid fa-clock"></i>
                            <p title="{{ post.created }}">{{ post.delta_timestamp|safe }}</p>
                        </div>
                    </div>
                </header>
                <div class="vote">
                    <i class="up fa-solid fa-chevron-up {% if post in liked %}voted{% endif %}"></i>
                    <p class="odometer mono-number">{{ post.likes|sub:post.dislikes }}</p>
                    <i class="down fa-solid fa-chevron-down {% if post in disliked %}voted{% endif %}"></i>
                </div>

                {% if post.attached %}
                {% if post.nsfw or post.spoiler %}
                <div class="wrapper">
                    <div class="hider">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>
                            {% if post.nsfw and post.spoiler %}
                            NSFW + Spoiler
                            {% elif post.nsfw %}
                            NSFW
                            {% elif post.spoiler %}
                            Spoiler
                            {% endif %}
                        </span>
                    </div>
                    <img src="{{post.attached}}" class="post-content hidden">
                </div>
                {% else %}
                <img src="{{post.attached}}" class="post-content">
                {% endif%}
                {% else %}
                <p class="{% if post.nsfw or post.spoiler %}hidden{%endif%} post-content">{{post.content}}</p>
                {% endif %}

                {% if post.nsfw or post.spoiler %}
                {% if not post.attached %} {% comment %} have to nest this because django doesn't support parentheses in the if statements {% endcomment %}
                <div class="hider">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>
                        {% if post.nsfw and post.spoiler %}
                        NSFW + Spoiler
                        {% elif post.nsfw %}
                        NSFW
                        {% elif post.spoiler %}
                        Spoiler
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                {% endif %}
                <footer>
                    {% if sub and post.flair %}
                    <div class="flair flair-{{post.flair.id}}">
                        {{ post.flair.text }}
                    </div>
                    {% endif %}
                    {% if not sub %}
                    <a href='{% url "sub" post.sub.name %}'>
                        <p class="sub">
                            <i class="fa-solid fa-section"></i> {{post.sub.name}}
                        </p>
                    </a>
                    {% endif %}
                    <p class="comments">
                        <i class="fa-solid fa-message"></i> {{ post.comment_count }}
                    </p>
                    <div class="buttons">
                        {% if post.author != user %}
                        <button class="award">
                            <span>Award</span>
                            <i class="fa-solid fa-award"></i>
                        </button>
                        {% endif %}
                        
                        <button class="share">
                            <span>Share</span>
                            <i class="fa-solid fa-share-nodes"></i>
                        </button>
                        <button class="save">
                            <span>
                                {% if post in saved %}
                                Unsave
                                {% else %}
                                Save
                                {% endif %}
                            </span>
                            <i class="fa-solid fa-bookmark {% if post in saved %}saved{% endif %}"></i>
                        </button>
                    </div>
                </footer>
            </div>
        {% endfor %}
        {% else %}
        <div id="no-posts"> <!-- for empty feeds -->
            <i class="fa-regular fa-circle-question"></i>
            <h3>Nothing to see here, yet.</h3>
        </div>
        {% endif %}
        
    </div>
    {% if user.is_authenticated %}
    <div id="award-modal">
        <header>
            <h2>Give an award</h2>
            <p>
                <i class="fa-solid fa-coins"></i> {{ user.coins|intcomma }}
            </p>
        </header>
        <div id="awards">
            <div class="first-fields row">
                <div class="award-type shrimp {% if user.coins <= 50 %}disabled{% endif %}" id="shrimp">
                    <h4>Shrimp</h4>
                    <i class="fa-solid fa-shrimp"></i>
                    <p>50</p>
                </div>
                <div class="award-type silver {% if user.coins <= 100 %}disabled{% endif %}" id="silver">
                    <h4>Silver</h4>
                    <span class="fa-stack">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-s fa-stack-1x fa-fw"></i>
                    </span>
                    <p>100</p>
                </div>
                <div class="award-type fish {% if user.coins <= 250 %}disabled{% endif %}" id="fish">
                    <h4>Fish</h4>
                    <i class="fa-solid fa-fish-fins"></i>
                    <p>250</p>
                </div>
            </div>
            <div class="first-fields row">
                <div class="award-type gold {% if user.coins <= 500 %}disabled{% endif %}" id="gold">
                    <h4>Gold</h4>
                    <i class="fa-solid fa-medal"></i>
                    <p>500</p>
                </div>
                <div class="award-type platinum {% if user.coins <= 1800 %}disabled{% endif %}" id="platinum">
                    <h4>Platinum</h4>
                    <i class="fa-solid fa-trophy"></i>
                    <p>1,800</p>
                </div>
                <div class="award-type emerald {% if user.coins <= 20000 %}disabled{% endif %}" id="emerald">
                    <h4>Emerald</h4>
                    <i class="fa-solid fa-gem"></i>
                    <p>20,000</p>
                </div>
            </div>
            <div class="next-fields row">
                <input type="text" placeholder="Optional message" id="message">
            </div>
            <div class="next-fields row">
                <input type="checkbox" id="anon">
                <label for="anon"><i id="checkbox" class="fas fa-check icon"></i>Anonymous</label>
                <button>
                    <span>Send</span>
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </div>
        <p id="cancel">Press ESC to cancel</p>
    </div>
    {% endif %}
    <section id="sidebar">
        <div id="account">
            {% if user.is_authenticated %}
            <div id="avatar">
                {% if user.avatar %}
                <img src="{{user.avatar}}">
                {% else %}
                <i class="fa-solid fa-user"></i>
                {% endif %}
            </div>
            <div id="user-text">
                <h5>
                    <a href="{% url 'user' user.username %}">
                        {{ user.username }}
                    </a>
                </h5>
                <p>
                    <span class="mono-number">{{ user.points|floatformat:2 }}</span> points
                </p>
            </div>
            <i id="logout" class="fa-solid fa-arrow-right-from-bracket" title="Sign Out"></i> <!-- Logout button -->
            {% else %}
            <div id="avatar" class="anon">
                <i class="fa-solid fa-user-secret"></i>
            </div>
            <a href="{% url "login" %}">
            <p>Log In / Sign Up</p>
            <i id="login" class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
            {% endif %}
        </div>
        <div id="tab-description">
            {% if sub %}
            <header>
                <div id="tab-icon-box">
                    <p>{{ sub_object.initials }}</p>
                </div>
                <div id="tab-text">
                    <h2>{{sub_object.name}}</h2>
                    <p><span class="mono-number">{{sub_object.followers}}</span> followers</p>
                </div>
            </header>
            <p>{{sub_object.description}}</p>
            <p>Created on {{ sub_object.created|date:"M j, Y" }}</p>
            <button id="follow">Follow <i class="fa-solid fa-plus"></i></button>
            <a href="/post/?s={{ sub_object.name }}"><button>Submit a post <i class="fa-solid fa-paper-plane"></i></button></a>
            {% else %}
            <header>
                <div id="tab-icon-box" class="i">
                    {% if tab == "home" %}
                    <i class="fa-solid fa-house-user"></i>
                    {% elif tab == "search" %}
                    <i class="fa-solid fa-magnifying-glass"></i>
                    {% elif tab == "popular" %}
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    {% elif tab == "saved" %}
                    <i class="fa-solid fa-bookmark"></i>
                    {% elif tab == "profile" %}
                    <i class="fa-solid fa-user"></i>
                    {% endif%}
                </div>
                <div id="tab-text">
                    <h2>{{ tab|title }}</h2>
                </div>
            </header>
            <p class="desc-only">
            {% if tab == "home" %}
            Your personalized front page! Stay updated on your favorite communities. It allows you to access the latest posts, comments, and discussions relevant to your interests.
            {% elif tab == "search" %}
            Enter keywords to quickly and easily find posts and comments. Filter and sort based on relevance and content type.
            {% elif tab == "popular" %}
            Red's Popular feed showcases trending posts across all subreddits, sorted by popularity and engagement. It provides you with a snapshot of the most popular content on the website at any given moment.
            {% elif tab == "saved" %}
            The saving feature lets you bookmark and store posts and comments that you want to revisit later. It is a handy tool for keeping track of content that is particularly useful or interesting.
            {% elif tab == "profile" %}
            {{ user.description }}
            {% endif%}
            </p>
            <a href="/post/"><button>Submit a post <i class="fa-solid fa-paper-plane"></i></button></a>
            {% endif %}
        </div>

        <div id="rules">
            {% if sub %}
            <header>
                Rules for <i class="fa-solid fa-section"></i> {{ sub_object.name }}
            </header>
            <ol>
                {% for rule in sub_object.rules.all %}
                <li class="rule">
                    <div>
                        <h4>{{rule.order}}. {{ rule.title }}</h4>
                    {% if rule.description %}
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <p>{{ rule.description }}</p>
                    {% else %}
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
            {% else %}
            <header>
                General rules for Red
            </header>

            <ol>
                <li class="rule">
                    <div>
                        <h4>1. Use common sense.</h4>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <p>By using basic logic, you can make informed decisions about what actions to take and which ones to avoid. </p>
                </li>
                <li class="rule">
                    <div>
                        <h4>2. Treat people how they deserve to be treated.</h4>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <p>Consider the consequences of your actions and be fair and respectful with your decisions.</p>
                </li>
                <li class="rule">
                    <div>
                        <h4>3. Follow the Terms of Services</h4>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <p>Chapters 5, 6, 9, and 10 of the <a href="{% url "tos" %}" class="tos-link" rel="noreferrer noopener" target="_blank">Terms of Service</a> serve as guidelines for your content.</p>
                </li>
                <li class="rule">
                    <div>
                        <h4>4. Follow community rules.</h4>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <p>Each community on Red moderates themselves to their own discretion to the extent of following these general rules.</p>
                </li>
            </ol>

            {% endif %}
        </div>
        <footer>
            <p class="tos-link"><a href="{% url "tos" %}" rel="noreferrer noopener" target="_blank">Terms of Service</a></p>
            <p><i class="fa-regular fa-copyright"></i> 2023 Andre Holman.<br> All rights reserved.</p>
            <p>This is a demo application. Unaffiliated with Reddit.</p>
            <div>
                <a href="mailto:andre@andreholman.com"><i class="fa-solid fa-envelope"></i></a>
                <a href="https://github.com/andreholman/"><i class="fa-brands fa-github"></i></a>
                <i id="discord" class="fa-brands fa-discord">
                    <p id="discord-tag">Qi#4698</p>
                </i>
                <a href="https://www.linkedin.com/in/andre-holman-25a3bb256/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://paypal.me/Algrithm"><i class="fa-brands fa-paypal"></i></a>
                <a href="https://andreholman.com"><i class="fa-solid fa-house"></i></a>
            </div>
        </footer>
    </section>
   
    <script src="https://code.jquery.com/jquery-3.6.4.min.js " integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin=" anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.min.js " integrity="sha512-51WDTV7haD9BBDc8RWH2r5TnuSiRyAqEnbGyuKHYn+qpYCrCckxFeqlr1I5UoOULijyLV2vnHO9LS4MrAzHxwQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    {% include "red/includes/lib.html" %}
    <script src="{% static 'red/script/feed.js' %}"></script>
</body>

</html>