<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red: Home</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    {% load mathfilters %}
    {% include "red/includes/account.html" %}
    <h1>Latest Posts</h1>
    {% if latest_posts_list %}
    <ul>
        {% for post in latest_posts_list %}
        <li>
            <p>
                {{ post.likes|sub:post.dislikes }}

                <a href='{% url "sub" post.sub.name %}'>s/{{post.sub.name}}</a>
                <a href='{% url "user" post.author %}'>u/{{post.author}}</a>
                <a href='{% url "post" post.sub.name post.id %}'> {{ post.title }}</a>

                {% if post.flair %} [{{post.flair.text}}] {% endif %}

                <b>
                    {% if post.nsfw %}(NSFW){% endif %} {% if post.spoiler %}(Spoiler){% endif %}
                </b>

                {{ post.comment_count }} comments

                {% if post.awards %}
                <p>Awards:
                {% for name, count in post.award_count.items %}
                    {{ count }}x {{ name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
                </p>
                {% endif %}
            </p>
            
            <p>{{ post.content }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No posts are available.</p>
    {% endif %}

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'red/script/lib.js' %}?checksum=ba411cafee2f0f702522369da0b765e2"></script>
    <script src="{% static 'red/script/account.js' %}?checksum=ba411cafee2f0f702522369da0b765e2"></script>
</body>

</html>