<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,800;1,400;1,800&family=Inter:wght@200;800&family=Overpass:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'>
    <link rel="stylesheet" href="{% static 'red/style/login.css' %}">
</head>

<body>
    <div id="formbox"></div>
    <div id="bg"></div>
    <section id="center">
        <div class="stack">
            <h1>Sign in</h1>
            <h3>GET STARTED RIGHT NOW</h3>
            <form>
                <div class="inputfield">
                    <input type="text" id="username" name="u" placeholder="Username" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="1" maxlength="16">
                    <i class="fas fa-user icon"></i>
                </div>
                <div class="inputfield hidden" id="emaildiv">
                    <input type="email" id="email" name="e" placeholder="Email" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="3">
                    <i class="fas fa-at icon"></i>
                </div>
                <div class="inputfield">
                    <input type="password" id="password" name="p" placeholder="Password" tabindex="2">
                    <i class="fas fa-key icon"></i>
                </div>
                <div class="inputfield hidden" id="confirmdiv">
                    <input type="password" id="confirm" placeholder="Confirm Password" tabindex="4">
                    <i class="fas fa-key icon"></i>
                </div>
                <div class="inputfield hidden" id="agreediv">
                    <input type="checkbox" id="agreefield" name="agree">
                    <label for="agreefield"><i id="checkbox" class="fas fa-check icon"></i> I agree to the <a href="/tos" target="_blank" rel="noreferrer noopener">Terms of Service</a></label>
                </div>
                <div class="inputfield hidden" id="wrongdiv">
                    <p id="wrongdoing"></p>
                </div>
                <div class="inputfield">
                    <input type="button" class="accentshould" value="LOG IN" id="login">
                </div>
                <div class="inputfield">
                    <input type="button" value="CREATE MY ACCOUNT" id="createaccount">
                </div>
            </form>
        </div>
    </section>
    <section class="scrolled">
        <h2>This text should appear at the bottom</h2>
    </section>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src="{% static 'red/script/login.js' %}"></script>
</body>

</html>