<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Red: Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,800;1,400;1,800&family=Inter:wght@200;800&family=Overpass:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'>
    <link rel="stylesheet" href="{% static 'red/style/password_changer.css' %}">
</head>

<body>
    <div id="formbox"></div>
    <div id="bg"></div>
    <section id="center">
        <div class="stack">
            <h1>Reset Password</h1>
            <h3>
            {% if verified %}
            CHANGING PASSWORD FOR u/{{username}}
            {% else %}
            ENTER YOUR EMAIL
            {% endif %}
            </h3>

            <form>
                {% if expired %}
                <div class="inputfield">
                    <p>Password reset links expire after an hour. Please try again.</p>
                </div>
                <div class="inputfield">
                    <input type="button" class="accentshould" id="back" value="GO BACK">
                {% else %}
                {% if verified %}
                <div class="inputfield" id="passworddiv">
                    <input type="password" id="password" name="p" placeholder="New Password" tabindex="2">
                    <i class="fas fa-key icon"></i>
                </div>
                <div class="inputfield" id="confirmdiv">
                    <input type="password" id="confirm" placeholder="Confirm Password" tabindex="4">
                    <i class="fas fa-key icon"></i>
                </div>
                {% else %}
                <div class="inputfield" id="emaildiv">
                    <input type="email" id="email" name="e" placeholder="Email" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="3">
                    <i class="fas fa-at icon"></i>
                </div>
                {% endif %}
                <div class="inputfield hidden" id="wrongdiv">
                    <p id="wrongdoing"></p>
                </div>
                <div class="inputfield" id="submitdiv">
                        {% if verified %}
                        <input type="button" class="accentshould" value="CHANGE" id="change">
                        {% else %}
                        <input type="button" class="accentshould" value="EMAIL ME" id="send">
                        {% endif %}
                        {% include "red/includes/loader.html" %}
                </div>
                {% if verified %}
                <div class="inputfield hidden" id="successdiv">
                    <p>Your password was set successfully.</p>
                </div>
                {% endif %}
                <div class="inputfield hidden" id="nextdiv">
                    {% if verified %}
                    <input type="button" value="GO HOME" id="home">
                    <input type="button" class="accentshould" value="LOG IN" id="login">
                    {% else %}
                    <p>Password reset request sent! Check your email for instructions.</p>
                    {% endif %}
                </div>
                {% endif %}
            </form>
        </div>
    </section>
    <section class="scrolled">
        <h2>This text should appear at the bottom</h2>
    </section>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src="{% static 'red/script/lib.js' %}?checksum=ba411cafee2f0f702522369da0b765e2"></script>
    <script src="{% static 'red/script/password_changer.js' %}"></script>
</body>

</html>