<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red: {{post.title}}</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <p>
    {{ post.created }}
    {% if post.edited %}
    {{ post.edited }}
    {% endif %}
    <a href='{% url "sub" post.sub %}'>s/{{post.sub}}</a> | 
    {% if post.deleted or post.author.deleted %}
    u/[deleted]
    {% else %}
    <a href='{% url "user" post.author %}'>u/{{post.author}}</a>
    {% endif %}
    </p>

    <h1>{{post.title}}</h1>
    {% if post.nsfw or post.spoiler %}
    <b>{% if post.nsfw %}(NSFW){% endif %} {% if post.spoiler %}(Spoiler){% endif %}</b>
    {% endif %}
    <p>Views: {{post.views}}</p>
    <p>Votes: +{{post.likes}} | -{{post.dislikes}}</p>

    {% if post.deleted %}
    <p id="content">[deleted]</p><br>
    {% else %}
    <p id="content">{{post.content|linebreaksbr}}</p><br>
    {% endif %}

    {% if post.attached %}
    <h3><a href={{post.attached}}>Attached content</a></h3>
    {% endif %}

    <button type="button" class="post-vote up" {% if post.deleted %}disabled{%endif%}>Vote Up</button>
    <button type="button" class="post-vote down" {% if post.deleted %}disabled{%endif%}>Vote Down</button>
    <button type="button" id="update-post" {% if post.deleted %}disabled{%endif%}>Edit</button>
    <button type="button" id="cancel-post" {% if post.deleted %}disabled{%endif%} style="display:none;">Cancel</button> {% comment %} for cancelling editing {% endcomment %}
    <button type="button" id="delete-post" {% if post.deleted %}disabled{%endif%}>Delete</button>

    <h2>Comments</h2>

    {% if not post.deleted%}
    <fieldset>
        <legend>Submit a comment</legend>

        {% if comments %}
        <b>Reply To: </b>
        <select id="comment-parent">
            <option value="0">None</option>
            {% for comment in comments %}
                {% if not comment.comment.deleted %}
                <option value="{{comment.comment.id}}">{{ comment.comment }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        {% endif %}

        <textarea name="content" placeholder="Content" id="comment-content"></textarea>
        <br>
        <button type="button" id="comment">Post comment</button>
    </fieldset>
    {% endif %}

    {% if comments %}
    <ul type="square">
        {% for comment in comments %}
        <li style="margin-left:{{comment.level}}em" id="{{comment.comment.id}}">
            +{{comment.comment.likes}} | -{{comment.comment.dislikes}}

            {% if comment.comment.deleted or comment.comment.author.deleted %}
            u/[deleted]
            {% else %}
            <a href='{% url "user" comment.comment.author.username %}'>{{ comment.comment.author }}</a>
            {% endif %}
            {% if comment.comment.author == post.author %} <span style="font-weight: bold">OP</span> {% endif %}

            <button type="button" class="comment-vote up" {% if comment.comment.deleted %}disabled{%endif%}>Vote Up</button>
            <button type="button" class="comment-vote down" {% if comment.comment.deleted %}disabled{%endif%}>Vote Down</button>
            <button type="button" class="comment-update" id="update-{{comment.comment.id}}" {% if comment.comment.deleted %}disabled{%endif%}>Edit</button>
            <button type="button" class="comment-cancel" id="cancel-{{comment.comment.id}}" {% if comment.comment.deleted %}disabled{%endif%} style="display:none;">Cancel</button> {% comment %} for cancelling editing {% endcomment %}
            <button type="button" class="comment-delete" {% if comment.comment.deleted %}disabled{%endif%}>Delete</button>
            
            <p id="content-{{comment.comment.id}}" style="display:block;">
                {% if comment.comment.deleted %}
                [deleted]
                {% else %}
                {{ comment.comment.content }}
                {% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no comments.</p>
    {% endif %}

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'red/post.js' %}?checksum=ba411cafee2f0f702522369da0b765e2"></script>
</body>

</html>