<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red: {{post.title}}</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <p>
    {{post.created}}
    <a href='{% url "sub" post.sub %}'>s/{{post.sub}}</a> | 
    {% if post.deleted %}
    u/deleted
    {% else %}
    <a href='{% url "user" post.author %}'>u/{{post.author}}</a>
    {% endif %}
    </p>

    <h1>{{post.title}}</h1>
    <p>Views: {{post.views}}</p>
    <p>Votes: +{{post.likes}} | -{{post.dislikes}}</p>

    {% if post.deleted %}
    <p id="content">[deleted]</p><br>
    {% else %}
    <p id="content">{{post.content}}</p><br>
    {% endif %}

    {% if post.attached %}
    <h3><a href={{post.attached}}>Attached content</a></h3>
    {% endif %}

    <button type="button" class="vote" id="up" {% if post.deleted %}disabled{%endif%}>Vote Up</button>
    <button type="button" class="vote" id="down" {% if post.deleted %}disabled{%endif%}>Vote Down</button>
    <button type="button" id="update" {% if post.deleted %}disabled{%endif%}>Edit</button>
    <button type="button" id="cancel" {% if post.deleted %}disabled{%endif%} style="display:none;">Cancel</button> {% comment %} for cancelling editing {% endcomment %}
    <button type="button" id="delete" {% if post.deleted %}disabled{%endif%}>Delete</button>

    <h2>Comments</h2>
    {% if comments %}
    <ul type="square">
        {% for comment in comments %}
        <li style="margin-left:{{comment.level}}em">
            <p>+{{comment.comment.likes}} | -{{comment.comment.dislikes}}</p>
            {{ comment.comment.author }} {% if comment.comment.author == post.author %} <span style="font-weight: bold">OP</span> {% endif %}
            <p>{{ comment.comment.content }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no comments.</p>
    {% endif %}

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'red/post.js' %}?checksum=ba411cafee2f0f702522369da0b765e2"></script>
</body>

</html>