<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red: {{sub.name}}</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    {% comment %} <h1>{{ sort type }} : in {{sub.name}}</h1> {% endcomment %}
    <h1>Latest posts in s/{{sub.name}}</h1>
    
    <p>Created {{sub.created}}, {{sub.followers}} {% if sub.followers == 1 %} follower {% else %} followers. {% endif%}</p>
    <a href='{% url "post_editor" sub.name %}'><h3>Create a Post</h3></a>
    {% if sub_posts %}
    <ul>
        {% for post in sub_posts %}
        <li>
            <p>
                +{{post.likes}}{% if post.dislikes %} | -{{post.dislikes}}{% endif %}
                <a href='{% url "post" sub.name post.id %}'> {{ post.title }}</a> 
                {% if post.flair %} [{{post.flair.text}}] {% endif %}
                <b>{% if post.nsfw %}(NSFW){% endif %} {% if post.spoiler %}(Spoiler){% endif %}</b>
            </p>
            
            <p>{{ post.content }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No posts are available.</p>
    {% endif %}
    <!-- <script src="index.js"></script> -->
</body>

</html>