<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red: {{account.username}}</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    {% include "red/includes/account.html" %}
    <h1>{{account.username}}
        {% if user == account %}
        (Me)
        {% endif %}
    </h1>
    <ul>
        <li>Created: {{account.created}}</li>
        <li>Points: {{account.points}}</li>
        <li>Followers: {{account.followers}}</li>
    </ul>
    <h2>Posts</h2>
    {% if account_posts %}
    <ul>
        {% for post in account_posts %}
        {% if not post.deleted %}
        <li>
            <p>+{{post.likes}} | -{{post.dislikes}}, {{ post.created}} </p> 
            <a href='{% url "post" post.sub post.id %}'>{{ post.title }}</a>
            <p>{{ post.content }}</p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>{{account.username}} has never posted.</p>
    {% endif %}
    <h2>Comments</h2>
    {% if account_comments %}
    <ul>
        {% for comment in account_comments %}
        {% if not comment.deleted %}
        <li>
            {% if comment.parent %}
            <p>Replying to {{comment.parent}}:</p>
            {% else %}
            <p>On {{ comment.post }}</p>
            {% endif %}
            <p>+{{comment.likes}} | -{{comment.dislikes}}</p>
            <p>{{ comment.content }}</p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>{{account.username}} has never commented.</p>
    {% endif %}

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'red/script/lib.js' %}?checksum=ba411cafee2f0f702522369da0b765e2"></script>
    <script src="{% static 'red/script/account.js' %}?checksum=ba411cafee2f0f702522369da0b765e2"></script>
</body>

</html>