$box-height: 23%;
$border: 2px;

/* color palette */

$dark: #0a0f10;
$gunmetal: #718a97;
$blue1: #7091db;
$blue2: #5572B4;
$blue3: #3E4E8E;
$input-margin: 20px;
$offwhite: #f7f5e4;
$body: "Inter Tight";
$sub: "Inter";
$title: "Overpass";
* {
    transition: 0.2s;
}

#formbox {
    display: none;
}

#bg {
    width: 105vw;
    height: 105vw;
    position: relative;
    display: fixed;
    z-index: -1;
    background: inherit;
    overflow: hidden;
}

#bg:before {
    content: "";
    position: fixed;
    background: url(/static/red/assets/bg.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    filter: blur(40px);
    margin: -20px;
}

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 0;
    background: black;
}

section {
    height: 100vh;
    margin: 0;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.scrolled {
    position: relative;
    top: 100vh;
    background: $blue3;
    display: none; ///////////////////////////////////////
}

#center {
    width: 50vw;
    min-width: 400px;
    max-width: 555px;
    vertical-align: middle;
    position: fixed;
    margin: auto;
}

a {
    color: $blue1;
    text-decoration: none;
    border-bottom: 2px dotted $blue1;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-family: $body;
    font-style: italic;
}

a:hover {
    color: $blue2;
    border-bottom: 2px solid $blue2;
}

div.stack {
    box-shadow: 0 0 30px rgba(10, 15, 16, 0.67);
    background: rgba(10, 15, 16, 0.67);
    padding: $input-margin * 3;
    padding-top: $input-margin * 2;
    padding-bottom: $input-margin;
    color: #f1f1f1;
    vertical-align: middle;
    margin: 0;
    border-radius: 20px;
    h1 {
        font-family: $title;
        font-weight: 200;
        font-size: 45px;
        line-height: 45px;
        margin: 0;
        padding: 0;
        text-shadow: 0 0 4px black;
    }
    h3 {
        margin-top: 12px;
        margin-bottom: 20px;
        font-family: $sub;
        font-weight: 600;
        font-size: 20px;
        text-shadow: 0 0 4px black;
    }
}

.inputfield {
    padding-bottom: $input-margin;
    .icon {
        color: white;
        width: 40px;
        height: 40px;
        background-color: transparent;
        line-height: 40px;
        font-size: 20px;
        position: absolute;
        text-align: center;
        vertical-align: middle;
        left: $input-margin * 4 + 10px;
    }
    input {
        width: 100%;
        height: 40px;
        border: 0;
        border-radius: 5px;
        outline: 2px solid $gunmetal;
        transition: 0.2s;
        background: transparent;
        vertical-align: middle;
        z-index: 10;
    }
    input[type="text"],
    [type="password"],
    [type="email"] {
        padding: 0;
        padding-left: 40px;
        color: $offwhite;
        position: relative;
        box-sizing: border-box;
        font-family: $body;
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        vertical-align: top;
        box-shadow: 0 3px 3px $dark inset;
    }
    input[type="email"] {
        text-transform: lowercase;
    }
    input[type="email"]::placeholder {
        text-transform: none;
    }
    input[type="submit"],
    [type="button"] {
        color: $offwhite;
        font-family: $sub;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        transition-property: background-color, outline;
    }
    input[type="submit"]:hover,
    input[type="button"]:hover,
    input[type="submit"]:focus,
    input[type="button"]:focus {
        outline: 2px solid $blue3;
    }
    .accentshould {
        background-color: $blue2;
        outline: 2px solid $blue2;
    }
    .accentshould:hover,
    .accentshould:focus {
        background-color: $blue3;
    }
     ::placeholder {
        color: $gunmetal;
        transition: 0.3s ease-out;
        user-select: none;
    }
    input:active,
    input:focus {
        outline-color: $offwhite;
        border: 0;
    }
    input:focus::placeholder {
        opacity: 0;
    }
    .selected {
        color: $dark !important;
        background-color: $blue3 !important;
        border: 2px solid $blue3 !important;
    }
    #loading {
        width: 100%;
        height: 30px;
        display: inline-block;
        position: relative;
        top: -35px;
        z-index: 67;
        opacity: 0;
        pointer-events: none;
    }
}

#submitdiv {
    padding-bottom: 0;
}

#nextdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    input:first-child {
        margin-right: calc($input-margin);
    }
}

p {
    font-family: $sub;
    color: $offwhite;
    display: inline-block;
    font-size: 20px;
}

.hidden {
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    display: none;
    transition: none;
    transition: height 2.8s, opacity 2.4s, padding 2.8s, margin 2.8s;
}