$box-height: 23%;
$border: 1px;

/* color palette */

$dark1: #101516;
$dark2: #0a0f10;
$blue1: #7091db;
$blue2: #5572B4;
$blue3: #3E4E8E;
$input-margin: 20px;
$offwhite: #f7f5e4;
$body: "Inter Tight";
$sub: "Inter";
$title: "Overpass";
@media only screen and (max-width: 600px) {
    $gray: #9eafb7;
    * {
        transition: 0.2s;
    }
    #formbox {
        display: none;
    }
    #bg {
        width: 105vw;
        height: 105vw;
        position: relative;
        display: fixed;
        z-index: -1;
        background: inherit;
        overflow: hidden;
    }
    #bg:before {
        content: "";
        position: fixed;
        background: url(/static/red/assets/bg.png) no-repeat;
        background-attachment: fixed;
        background-size: 100% 120%;
        z-index: -2;
        top: -40px;
        left: -40px;
        right: -40px;
        bottom: -40px;
        filter: blur(20px);
        margin: -20px;
    }
    body,
    html {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 0;
        background: black;
    }
    section {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 30px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #center {
        width: 100vw;
        height: 100vh;
        box-shadow: 0 0 30px rgba(10, 15, 16, 0.57);
        background: rgba(10, 15, 16, 0.57);
        transition: none;
        vertical-align: middle;
        position: fixed;
        margin: auto;
    }
    a {
        color: $blue3;
        text-decoration: none;
        border-bottom: 2px dotted $blue3;
        cursor: pointer;
        padding: 0;
        margin: 0;
        font-family: $body;
        font-style: italic;
    }
    a:hover {
        color: $blue2;
        border-bottom: 2px solid $blue2;
    }
    div.stack {
        padding: $input-margin * 3;
        padding-top: $input-margin * 2;
        padding-bottom: $input-margin;
        color: #f1f1f1;
        margin: 0;
        h1 {
            font-family: $title;
            font-weight: 200;
            font-size: 45px;
            line-height: 45px;
            margin: 0;
            padding: 0;
        }
        h3 {
            margin-top: 12px;
            margin-bottom: 20px;
            font-family: $sub;
            font-weight: 600;
            font-size: 20px;
        }
    }
    .inputfield {
        padding-bottom: $input-margin;
        position: relative;
        .icon {
            color: $offwhite;
            width: 40px;
            height: 40px;
            background-color: transparent;
            line-height: 40px;
            font-size: 20px;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            left: $border;
        }
        input {
            width: 100%;
            height: 40px;
            border: 0;
            border-radius: 5px;
            outline: $border solid $gray;
            transition: 0.2s;
            background: transparent;
            vertical-align: middle;
            z-index: 10;
        }
        input[type="text"],
        [type="password"],
        [type="email"] {
            padding: 0;
            padding-left: 40px;
            color: $offwhite;
            position: relative;
            box-sizing: border-box;
            font-family: $body;
            font-weight: 400;
            font-size: 18px;
            line-height: 40px;
            vertical-align: top;
        }
        input[type="email"] {
            text-transform: lowercase;
        }
        input[type="email"]::placeholder {
            text-transform: none;
        }
        input[type="submit"],
        [type="button"] {
            color: $offwhite;
            font-family: $sub;
            cursor: pointer;
            font-size: 20px;
            font-weight: 600;
            outline: $border solid $blue2;
            transition-property: background-color, outline;
        }
        input[type="submit"]:hover,
        input[type="button"]:hover,
        input[type="submit"]:focus,
        input[type="button"]:focus {
            outline: 3px solid $blue1;
        }
        .accentshould {
            background-color: $blue2;
            color: white;
            outline: $border solid $blue2;
        }
        .accentshould:hover,
        .accentshould:focus {
            background-color: $blue1;
        }
        input::placeholder {
            color: $gray;
            opacity: 1;
            user-select: none;
        }
        input:active,
        input:focus {
            outline: 3px solid $offwhite;
            border: 0;
        }
        input:focus::placeholder {
            opacity: 0;
        }
        .selected {
            color: $dark2 !important;
            background-color: $blue3 !important;
            border: 2px solid $blue3 !important;
        }
        #loading {
            width: 100%;
            height: 30px;
            display: inline-block;
            position: relative;
            top: -35px;
            z-index: 67;
            opacity: 0;
            pointer-events: none;
        }
    }
    #submitdiv {
        padding-bottom: 0;
    }
    #nextdiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        input:first-child {
            margin-right: calc($input-margin);
        }
    }
    p {
        font-family: $sub;
        color: $offwhite;
        display: inline-block;
        font-size: 20px;
        left: calc($input-margin/2);
        margin-right: calc($input-margin/2);
    }
    .hidden {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        display: none;
        transition: none;
        transition: height 2.8s, opacity 2.4s, padding 2.8s, margin 2.8s;
    }
}

@media only screen and (min-width:601px) {
    $gray: #515164;
    * {
        transition: 0.2s;
    }
    #formbox {
        display: none;
    }
    #bg {
        width: 105vw;
        height: 105vw;
        position: relative;
        display: fixed;
        z-index: -1;
        background: inherit;
        overflow: hidden;
    }
    #bg:before {
        content: "";
        position: fixed;
        background: url(/static/red/assets/bg.png) no-repeat;
        background-attachment: fixed;
        background-size: cover;
        z-index: -2;
        top: -40px;
        left: -40px;
        right: -40px;
        bottom: -40px;
        filter: blur(40px);
        margin: -20px;
    }
    body,
    html {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 0;
        background: #0A1128;
        overflow: hidden;
    }
     ::selection {
        background: $blue3;
        color: white;
    }
    section {
        height: 100vh;
        margin: 0;
        padding: 30px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    .scrolled {
        position: relative;
        top: 100vh;
        background: $blue3;
        display: none; ///////////////////////////////////////
    }
    #center {
        width: 64vw;
        min-width: 400px;
        max-width: 555px;
        vertical-align: middle;
        position: fixed;
        margin: auto;
    }
    a {
        color: $blue3;
        text-decoration: none;
        border: 2px solid transparent;
        border-bottom: 2px dotted $blue3;
        cursor: pointer;
        padding: 0 2px;
        margin: 0;
        font-family: $body;
        font-style: italic;
        border-radius: 4px 4px 0 0;
    }
    a:hover {
        color: $blue2;
        border-bottom: 2px solid $blue2;
    }
    a:focus,
    a:active {
        border: 2px solid $blue2;
        border-radius: 4px;
        outline: none;
    }
    div.stack {
        background: rgba(255, 255, 255, 0.87);
        padding: $input-margin * 3;
        padding-top: $input-margin * 2;
        padding-bottom: $input-margin;
        color: #000;
        vertical-align: middle;
        margin: 0;
        border-radius: 20px;
        h1 {
            font-family: $title;
            font-weight: 200;
            font-size: 54px;
            line-height: 54px;
            margin: 0;
            padding: 0;
        }
        h3 {
            margin-top: 12px;
            margin-bottom: 20px;
            font-family: $sub;
            font-weight: 600;
            font-size: 20px;
        }
    }
    .inputfield {
        padding-bottom: $input-margin;
        position: relative;
        height: 40px;
        .icon {
            color: $dark1;
            width: 40px;
            height: 40px;
            background-color: transparent;
            line-height: 40px;
            font-size: 20px;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            left: $border;
        }
        input {
            width: 100%;
            height: 40px;
            border: 0;
            border-radius: 5px;
            outline: $border solid $gray;
            transition: 0.2s;
            background: transparent;
            vertical-align: middle;
        }
        input[type="text"],
        [type="password"],
        [type="email"] {
            height: 40px;
            padding: 0;
            padding-left: 40px;
            color: $dark1;
            position: relative;
            box-sizing: border-box;
            font-family: $body;
            font-weight: 400;
            font-size: 18px;
            line-height: 40px;
            vertical-align: top;
        }
        input[type="email"] {
            text-transform: lowercase;
        }
        input[type="email"]::placeholder {
            text-transform: none;
        }
        input[type="submit"],
        [type="button"] {
            color: $dark1;
            font-family: $sub;
            cursor: pointer;
            font-size: 20px;
            font-weight: 600;
            transition-property: background-color, outline;
        }
        input[type="submit"]:hover,
        input[type="button"]:hover,
        input[type="submit"]:focus,
        input[type="button"]:focus {
            outline: 3px solid $blue3;
        }
        .accentshould {
            background-color: $blue2;
            color: white;
            outline: $border solid $blue2;
        }
        .accentshould:hover,
        .accentshould:focus {
            background-color: $blue3;
        }
        input::placeholder {
            color: $gray;
            opacity: 1;
            user-select: none;
        }
        input:active,
        input:focus {
            outline: 3px solid $dark2;
            border: 0;
        }
        input:focus::placeholder {
            opacity: 0;
        }
        #wrongdoing {
            font-family: $sub;
            color: $dark1;
            display: inline-block;
            font-size: 18px;
            margin-left: calc($input-margin/2);
            margin-right: calc($input-margin/2);
        }
        #agreefield {
            padding-bottom: 16px;
        }
        #loading {
            width: 100%;
            height: 30px;
            display: inline-block;
            position: relative;
            top: -35px;
            z-index: 67;
            opacity: 0;
            pointer-events: none;
        }
    }
    p {
        font-family: $sub;
        display: inline-block;
        font-size: 20px;
        left: calc($input-margin/2);
        margin-right: calc($input-margin/2);
    }
    #forgotdiv {
        text-align: center;
        width: 100%;
        padding-bottom: 3px;
        font-size: 18px;
    }
    #wrongdiv {
        height: auto !important;
    }
    .hidden {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        display: none;
        transition: none;
        transition: height 2.8s, opacity 2.4s, padding 2.8s, margin 2.8s;
    }
}